*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-text-size-adjust: 100%;
}

*[hidden] {
  display: none!important;
}

a,
address,
b,
blockquote,
body,
button,
dd,
div,
dl,
dt,
em,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
hr,
html,
i,
input,
ins,
legend,
li,
mark,
menu,
ol,
p,
strong,
td,
textarea,
th,
var,
video,
ul {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-size: 1em;
  font-style: normal;
  font-weight: inherit;
  font-family: inherit;
  text-align: inherit;
  color: inherit;
}

button,
fieldset,
hr,
img,
input,
textarea {
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  border: 0;
}

footer,
header,
main {
  display: block;
}

li {
  list-style: none;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body > svg {
  position: absolute;
}

button {
  overflow: visible;
  cursor: pointer;
}

button,
input,
textarea {
  line-height: inherit;
}

a[href^="mailto:"] {
  white-space: nowrap;
}

b {
  font-weight: 700;
}

p {
  margin: 1em 0;
}

table {
  margin: 1em 0;
}

p:last-child,
table:last-child {
  margin-bottom: 0!important;
}

video,
img {
  max-width: 100%;
  height: auto;
}

figure p {
  margin: 0!important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
          appearance: none;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

@font-face {
  font-family: 'Viaoda';
  src: url('../fonts/ViaodaLibre-Regular.eot');
  src: url('../fonts/ViaodaLibre-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ViaodaLibre-Regular.woff2') format('woff2'), url('../fonts/ViaodaLibre-Regular.woff') format('woff'), url('../fonts/ViaodaLibre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1710px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  color: #7D6E69;
  background-color: #FEFCF6;
  min-width: 320px;
}

body.menu-opened {
  overflow: hidden;
}

/* Наследуем шрифты для инпутов и кнопок */

textarea {
  resize: none;
}

input,
textarea {
  field-sizing: content;
}

.overflow {
  overflow: hidden;
}

.accent {
  color: #EC7220 !important;
}

.accent-bg {
  color: #fff !important;
  background-color: #EC7220 !important;
}

.grey-bg {
  background-color: #F9F4EC !important;
}

.m-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}

.tac {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.h-100vh {
  min-height: 100vh;
}

.d-none {
  display: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */

*:focus:not(:focus-visible) {
  outline: none !important;
}

input[type='submit'] {
  -webkit-appearance: none;
  appearance: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 1920px 0;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 1920px 0;
  }
}

.logo {
  font-family: 'Viaoda';
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-decoration: none;
}

.burger {
  position: relative;
  font-size: 16px;
  padding-left: 28px;
  color: #4B3A35;
  height: 20px;
}

.burger::before {
  position: absolute;
  content: '';
  top: 5px;
  left: 0;
  background-color: #4B3A35;
  width: 20px;
  height: 1px;
}

.burger::after {
  position: absolute;
  content: '';
  top: 10px;
  left: 0;
  background-color: #4B3A35;
  width: 16px;
  height: 1px;
}

.hidden-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: #000000;
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity 1s;
}

.hidden-overlay.show {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: opacity 1s;
}

.navigation,
.search-menu {
  position: fixed;
  z-index: 100;
  width: 396px;
  height: 100%;
  top: 0;
  background: #fff;
  overflow: auto;
  padding: 37px 60px;
  transition: all 0.5s ease;
}

.navigation {
  left: -396px;
}

.navigation.show {
  left: 0;
}

.navigation__menu {
  margin-top: 40px;
}

.navigation__menu > li {
  padding: 8px 10px;
  font-size: 16px;
  color: #4B3A35;
  transition: background-color 0.5s ease;
}

.navigation__menu a {
  transition: color 0.5s ease;
}

.navigation__menu a:hover {
  color: #EC7220;
}

.navigation .sub-menu {
  margin-top: 6px;
}

.navigation .sub-menu > li {
  padding: 6px 0;
  font-size: 14px;
  color: #7D6E69;
}

.navigation__social {
  margin-top: 44px;
}

.navigation__social svg path {
  transition: stroke 0.5s;
}

.navigation__social li {
  display: inline-block;
  margin-right: 12px;
}

.navigation__social a:hover svg path {
  stroke: #EC7220;
}

.menu-parent-item {
  position: relative;
  padding-right: 15px;
}

.menu-parent-item::after {
  position: absolute;
  content: '';
  right: 5px;
  top: 15px;
  width: 10px;
  height: 6px;
  background: url(../img/shevron.svg) no-repeat center;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.menu-parent-item.active::after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.sub-menu {
  display: none;
}

.search-menu {
  right: -396px;
  text-align: right;
}

.search-menu.show {
  right: 0;
}

.close-menu {
  width: 24px;
  height: 24px;
}

.search__title {
  font-size: 16px;
  color: #4B3A35;
}

.search__descr {
  margin-top: 40px;
  text-align: left;
}

.search__descr input[type=search] {
  width: 100%;
  margin: 40px 0;
  padding: 10px 0;
  border-bottom: 1px solid #E8DDCE;
}

.search__wrapper .search__title {
  margin-bottom: 16px;
}

.search__box {
  font-size: 14px;
}

.search__box > a {
  display: block;
  padding: 10px 24px;
}

.search__box > a:hover {
  background-color: #F9F4EC;
}

.btn {
  display: inline-block;
  padding: 16px 44px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  border-radius: 100px;
  border: 1px solid transparent;
  color: #FEFCF6;
  background-color: #EC7220;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #c85b11;
}

.btn-o {
  color: #EC7220;
  background-color: transparent;
  border: 1px solid #EC7220;
}

.btn-o:hover,
.btn-o:active,
.btn-o:focus {
  color: #FEFCF6;
  background-color: #c85b11;
}

.btn-o-br {
  color: #7D6E69;
  background-color: transparent;
  border: 1px solid #7D6E69;
}

.btn-o-br:hover,
.btn-o-br:active,
.btn-o-br:focus {
  color: #EC7220;
  border-color: #EC7220;
  background-color: transparent;
}

.btn-o-w {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-o-w:hover,
.btn-o-w:active,
.btn-o-w:focus {
  color: #7D6E69;
  border-color: #7D6E69;
  background-color: transparent;
}

.btn-wish {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #EC7220;
}

.btn-wish:hover svg path,
.btn-wish:active svg path,
.btn-wish:focus svg path {
  fill: #EC7220;
}

.breadcrumbs {
  padding: 24px 0;
  font-size: 14px;
  line-height: 1.3;
  color: #7D6E69;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .separator {
  display: inline-block;
  margin: 0 2px;
}

.bx-breadcrumb-item {
  display: inline-block;
}

.bx-breadcrumb-item:last-child {
  color: #4B3A35;
}

.card {
  position: relative;
  max-width: 405px;
  border-radius: 30px;
  border: 1px solid #E8DDCE;
}

.card-wish {
  position: absolute;
  right: 18px;
  top: 20px;
}

.card-wish:hover svg path {
  fill: #EC7220;
}

.card__img {
  width: 100%;
  height: 330px;
  overflow: hidden;
  border-radius: 30px;
}

.card__img img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.card__text {
  padding: 40px 43px 32px 32px;
}

.card__title {
  font-size: 16px;
  color: #7D6E69;
}

.card__price {
  margin-top: 12px;
  font-size: 22px;
  font-weight: 500;
  color: #4B3A35;
}

.card-wished .card-wish svg path {
  fill: #EC7220;
}

.goods__slider .card {
  max-width: none;
}

.article {
  border: 1px solid #E8DDCE;
  border-radius: 30px;
}

.article__img {
  display: block;
  height: 330px;
  border-radius: 30px;
}

.article__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

.article__text {
  padding: 19px 32px 32px;
}

.article__title {
  font-size: 22px;
  font-weight: 500;
  color: #4B3A35;
}

.article__excerpt {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 12px;
}

.article__link {
  position: relative;
  display: inline-block;
  margin-top: auto;
  font-size: 14px;
  font-weight: 500;
  color: #EC7220;
}

.article__link::after {
  position: relative;
  right: -10px;
  content: '\2192';
  transition: all 0.5s ease;
}

.article__link:hover::after {
  right: -20px;
}

.slider__arrows {
  display: flex;
  gap: 8px;
}

.slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__arrow:hover svg path {
  stroke: #EC7220;
}

.slider .slick-list {
  margin-left: -10px;
  margin-right: -10px;
}

.slider .slide {
  margin: 0 10px;
}

.slick-disabled {
  opacity: 0.4;
}

.product .slick-arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
}

.product .slick-prev {
  left: 10px;
}

.product .slick-next {
  right: 10px;
}

.product .slick-prev:before,
.product .slick-next:before {
  display: block;
  content: '';
  font-size: 0;
  line-height: 1;
  width: 40px;
  height: 40px;
}

.product .slick-prev:before {
  background: url(../img/arrow-back.svg) no-repeat center / contain;
}

.product .slick-next:before {
  background: url(../img/arrow-next.svg) no-repeat center / contain;
}

.pagination {
  margin-top: -4px;
}

.pagination ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination a {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #7D6E69;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}

.pagination a:hover,
.pagination a:active,
.pagination a:focus {
  border-color: #EC7220;
}

.pagination .bx_active a {
  color: #fff;
  background-color: #EC7220;
  border: 1px solid transparent;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #E8DDCE;
}

.header svg path {
  transition: fill 0.5s;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__menu a:hover svg * {
  stroke: #EC7220;
}

.user__menu a + a {
  margin-left: 12px;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 20px auto;
}

.index h1 {
  text-align: center;
}

.index li {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 10px;
}

.index a:hover {
  text-decoration: underline;
}

.contacts {
  padding: 70px 0;
}

.contacts svg path {
  transition: stroke 0.5s;
}

.contacts__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  align-items: center;
}

.contacts__info {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.333333333333336% - 20px);
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
}

.contacts__item {
  margin-right: 16px;
  margin-bottom: 37px;
}

.contacts__item:last-of-type {
  width: 100%;
  margin-right: 0;
}

.contacts__item a {
  transition: color 0.5s ease;
}

.contacts__item a:hover {
  color: #EC7220;
}

.contacts__title {
  margin-bottom: 60px;
}

.contacts__title span {
  color: #EC7220;
}

.contacts__head {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 500;
  color: #4B3A35;
}

.contacts__descr {
  font-size: 16px;
  color: #7D6E69;
}

.contacts__social {
  margin-top: 65px;
}

.contacts__social li {
  display: inline-block;
  margin-right: 12px;
}

.contacts__social a:hover svg path {
  stroke: #4B3A35;
}

.contacts__map {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(66.66666666666667% - 20px);
  background-color: #F9F4EC;
  border-radius: 30px;
  min-height: 500px;
}

.contacts__map iframe {
  border-radius: inherit;
}

.page {
  padding-bottom: 70px;
}

.page__h1 {
  margin-bottom: 24px;
  font-size: 60px;
  font-family: 'Viaoda';
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.6px;
  color: #4B3A35;
}

.page__h1 span {
  color: #EC7220;
}

.page__content {
  padding-bottom: 80px;
  font-size: 14px;
}

.page__content a {
  text-decoration: underline;
  transition: color 0.5s ease;
}

.page__content a:hover {
  color: #EC7220;
}

.page__hero {
  padding-bottom: 70px;
}

.page__hero .page__h1 {
  margin-bottom: 16px;
}

.page__hero-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  align-items: stretch;
}

.page__hero-text {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(41.66666666666667% - 20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  border-radius: 30px;
}

.page__hero-text .btn {
  margin-top: 50px;
}

.page__hero-descr {
  font-size: 22px;
}

.page__hero-img {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(58.333333333333336% - 20px);
  height: 700px;
  border-radius: 30px;
  overflow: hidden;
}

.page__hero-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page__hero-img img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: transform 1s ease, -webkit-transform 1s ease;
  will-change: transform;
}

.accent-bg .page__h1 {
  color: #fff;
}

.about {
  padding-bottom: 70px;
}

.about__content {
  display: flex;
  gap: 5vw;
  align-items: center;
}

.about__img {
  flex-shrink: 1;
  width: 570px;
  max-width: 100%;
  height: 685px;
  border-radius: 30px;
  overflow: hidden;
}

.about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

.about__text {
  flex-shrink: 2;
  max-width: 650px;
}

.about__text P {
  font-size: 16px;
  margin: 0;
}

.about__text p + p {
  margin-top: 12px;
}

.about .btn {
  margin-top: 40px;
}

.product {
  padding-bottom: 70px;
}

.product__content {
  display: flex;
  gap: 3vw;
}

.product__slider {
  width: 600px;
  max-width: 100%;
}

.product__slide {
  width: 100%;
  height: 495px;
  background-color: #F9F4EC;
  border-radius: 30px;
}

.product__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border-radius: inherit;
}

.product__text {
  width: 740px;
  max-width: 100%;
}

.product__header {
  position: relative;
  padding-right: 70px;
}

.product__badge {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  font-size: 14px;
}

.product__h1 {
  margin-bottom: 32px;
}

.product__price {
  margin-bottom: 32px;
  font-size: 22px;
  font-weight: 500;
}

.product__btns {
  margin-bottom: 32px;
  display: flex;
  gap: 8px;
}

.product__descr-name {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 500;
  color: #4B3A35;
}

.product__descr-text {
  font-size: 14px;
}

.catalog {
  padding-bottom: 70px;
}

.catalog__content {
  display: flex;
  gap: 20px;
}

.catalog__aside {
  width: 100%;
  max-width: 240px;
}

.catalog__aside a {
  display: block;
  padding: 10px 4px;
  font-size: 14px;
  line-height: 1;
  transition: background-color 0.5s ease;
}

.catalog__aside a:hover,
.catalog__aside a:active,
.catalog__aside a:focus {
  color: #4B3A35;
  background-color: #F9F4EC;
}

.catalog__aside li.active a {
  color: #4B3A35;
  background-color: #F9F4EC;
}

.catalog__box {
  width: 100%;
}

.catalog__filters {
  margin-bottom: 16px;
}

.catalog__filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog__select {
  color: #7D6E69;
  background-color: transparent;
  border: none;
  padding-left: 0;
  margin-right: 32px;
}

.catalog__select:last-child {
  margin-left: auto;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.catalog__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  margin-bottom: 20px;
}

.ribbon {
  padding: 70px 0;
}

.ribbon__content {
  padding: 120px 0;
}

.ribbon__h1 {
  margin-bottom: 48px;
}

.ribbon__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  counter-reset: ribbon 0;
}

.ribbon__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.333333333333336% - 20px);
  padding: 24px 50px;
  position: relative;
  counter-increment: ribbon 1;
}

.ribbon__item + .ribbon__item {
  border-left: 1px solid #E8DDCE;
}

.ribbon__item:first-child {
  padding-left: 0;
}

.ribbon__item::before {
  margin-bottom: 10px;
  display: block;
  content: "/0" counter(ribbon);
  color: #EC7220;
  font-size: 22px;
  font-weight: 500;
}

.ribbon__title {
  font-size: 22px;
  font-weight: 500;
  color: #4B3A35;
}

.ribbon__descr {
  margin-top: 10px;
  font-size: 16px;
}

.ribbon-redem .ribbon__content {
  padding: 0;
}

.advantage {
  padding: 70px 0;
}

.advantage__h1 {
  margin-bottom: 40px;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.advantage__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  max-width: 411px;
  margin-bottom: 12px;
  padding: 24px 16px;
  border-radius: 30px;
  border: 1px solid #E8DDCE;
}

.advantage__pic {
  margin-bottom: 16px;
}

.advantage__title {
  font-size: 22px;
  font-weight: 500;
  color: #4B3A35;
}

.advantage__descr {
  font-size: 16px;
  margin-top: 10px;
}

.advantage-2 .advantage__pic {
  margin-bottom: 32px;
}

.advantage-re .advantage__item {
  margin-bottom: 23px;
  border: none;
}

.advantage-product {
  margin: 70px 0;
}

.ask {
  padding: 70px 0;
}

.ask__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: 40px;
  border-radius: 30px;
  background-color: #F9F4EC;
}

.ask__text {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(41.66666666666667% - 20px);
}

.ask__descr {
  max-width: 466px;
  font-size: 16px;
}

.ask .btn {
  margin-top: 40px;
}

.ask__img {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(58.333333333333336% - 20px);
  border-radius: 30px;
  height: 310px;
  overflow: hidden;
}

.ask__img img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.p404 {
  padding: 140px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p404__box {
  max-width: 700px;
  text-align: center;
}

.p404__badge {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  border: 1px solid #7D6E69;
}

.p404__text {
  font-size: 16px;
}

.p404__text a {
  text-decoration: underline;
  transition: color 0.5s ease;
}

.p404__text a:hover {
  color: #EC7220;
}

.p404 .btn {
  margin-top: 24px;
}

.blog {
  padding-bottom: 70px;
}

.blog__box {
  padding-bottom: 24px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.blog__box > p {
  margin-left: 10px;
  margin-right: 10px;
}

.blog__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  margin-bottom: 20px;
}

.single {
  padding-bottom: 70px;
}

.single__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
}

.single__pic {
  width: 600px;
  max-width: 100%;
  height: 500px;
  border-radius: 30px;
}

.single__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: inherit;
}

.single__text {
  max-width: 60%;
}

.single__h1 {
  margin-bottom: 32px;
}

.single__descr {
  font-size: 14px;
}

.single__descr p {
  margin: 0;
}

.single__descr p + p {
  margin-top: 16px;
}

.goods {
  position: relative;
  padding: 70px 0;
}

.goods__header {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.goods__header .btn {
  margin-left: 16px;
  margin-right: auto;
  flex-shrink: 0;
}

.goods__h1 {
  margin-bottom: 0;
}

.faq {
  padding: 70px 0;
}

.faq__h1 {
  margin-bottom: 40px;
}

.faq__item {
  border-top: 1px solid #E8DDCE;
  padding: 16px 0;
}

.faq__item:last-child {
  border-bottom: 1px solid #E8DDCE;
}

.faq__header {
  position: relative;
  padding-right: 30px;
  font-size: 24px;
  line-height: 1;
  font-family: 'Viaoda';
  font-weight: 400;
  letter-spacing: -0.2px;
  color: #4B3A35;
  cursor: pointer;
}

.faq__header::after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: url(../img/arrow-down.svg) no-repeat center;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  transition: rotate 0.5s ease;
}

.faq__header.active::after {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.faq__body {
  margin-top: 20px;
  display: none;
  font-size: 14px;
  max-width: 70%;
}

.faq__body p {
  margin: 0;
}

.faq__body p + p {
  margin-top: 5px;
}

.faq__body ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.faq__body ol li {
  list-style-type: decimal;
  list-style-position: inside;
}

.exp {
  padding: 70px 0;
}

.exp__content {
  display: flex;
  gap: 20px;
  border: 1px solid #E8DDCE;
  border-radius: 30px;
}

.exp__img {
  width: 910px;
  border-radius: 30px;
  min-height: 685px;
  overflow: hidden;
}

.exp__img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.exp__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: inherit;
  transition: transform 1s ease, -webkit-transform 1s ease;
  will-change: transform;
}

.exp__text {
  width: 750px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.exp__text .btn {
  margin-top: 40px;
}

.exp__descr {
  font-size: 16px;
}

.exp__descr p {
  margin: 0;
}

.exp__descr p + p {
  margin-top: 12px;
}

.feedback {
  padding: 70px 0;
}

.feedback__item {
  padding: 24px 16px;
  border: 1px solid #E8DDCE;
  border-radius: 30px;
}

.feedback__pic {
  margin-bottom: 16px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.feedback__pic img {
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.feedback__name {
  font-size: 24px;
  font-family: 'Viaoda';
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 1;
}

.feedback__date {
  margin-top: 4px;
  font-size: 14px;
  color: #E8DDCE;
}

.feedback__text {
  margin-top: 16px;
  font-size: 14px;
}

.feedback-sl .goods__header {
  margin-bottom: 40px;
}

.ba {
  padding-top: 100px;
  padding-bottom: 145px;
  text-align: center;
}

.ba__title {
  font-family: 'Viaoda';
  font-weight: 400;
  font-size: 40px;
  color: #4B3A35;
}

.ba__descr {
  margin-top: 16px;
  font-size: 16px;
  max-width: 734px;
  margin-left: auto;
  margin-right: auto;
}

.ba-slider {
  margin-top: 40px;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.ba-slider .handle:after {
  color: #7D6E69;
  background: #F9F4EC;
  /* @orange */
  border: none;
  box-shadow: none;
}

.check {
  padding: 70px 0;
}

.check__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.check__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 45px;
  border-radius: 30px;
  background-color: #F9F4EC;
  border: 1px solid #E8DDCE;
}

.check__item .btn {
  margin-top: 40px;
}

.check__item.accent-bg {
  border: 1px solid #EC7220;
}

.check__img {
  margin-bottom: 24px;
  width: 240px;
  height: 240px;
  border-radius: 30px;
}

.check__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: inherit;
}

.check__descr {
  font-size: 16px;
}

.repeater {
  margin: 70px 0;
  width: 100%;
  height: 64px;
  background: url(../img/repeater.svg) repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 50s infinite;
          animation: bg-scrolling-reverse 50s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.footer {
  font-size: 14px;
}

.footer__col a,
.footer__bottom a {
  color: inherit;
  text-decoration: none;
}

.footer__col a:hover,
.footer__bottom a:hover,
.footer__col a:active,
.footer__bottom a:active,
.footer__col a:focus,
.footer__bottom a:focus {
  text-decoration: underline;
}

.footer p {
  margin: 0;
}

.footer__top {
  padding-top: 68px;
  padding-bottom: 58px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.footer__logo {
  margin-bottom: 24px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
}

.footer__col {
  margin-bottom: 24px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(18.75% - 20px);
}

.footer__col:last-of-type {
  margin-bottom: 0;
}

.footer__menu li + li {
  margin-top: 8px;
}

.footer__title {
  margin-bottom: 16px;
  font-size: 16px;
}

.footer__bottom {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-top: 1px solid #fff;
}

@media screen and (max-width: 992px) {
  .d-lg-block {
    display: block;
  }

  .product__content {
    display: block;
  }

  .product__slider {
    margin-bottom: 40px;
  }

  .product__text {
    width: 600px;
  }

  .product__h1 {
    font-size: 40px;
  }

  .catalog__aside {
    display: none;
  }

  .catalog__filters {
    margin-bottom: 24px;
  }

  .catalog__item {
    width: calc(33.333333333333336% - 20px);
  }

  .ribbon br {
    display: none;
  }

  .ribbon__item {
    width: calc(100% - 20px);
  }

  .ribbon__item {
    padding: 14px 0;
  }

  .ribbon__item + .ribbon__item {
    border-left: none;
    border-top: 1px solid #E8DDCE;
  }

  .advantage__item {
    width: calc(50% - 20px);
  }

  .blog__item {
    width: calc(50% - 20px);
  }

  .exp br {
    display: none;
  }

  .check br {
    display: none;
  }
}

@media screen and (max-width: 834px) {
  .d-md-block {
    display: block;
  }

  .breadcrumbs {
    padding: 16px 0;
  }

  .card__text {
    padding: 40px 7px 32px 32px;
  }

  .pagination {
    margin-top: 4px;
  }

  .contacts {
    padding: 40px 0;
  }

  .contacts__info {
    width: calc(100% - 20px);
  }

  .contacts__info {
    margin-bottom: 40px;
  }

  .contacts__title {
    margin-bottom: 32px;
  }

  .contacts__social {
    margin-top: 0;
  }

  .contacts__map {
    width: calc(100% - 20px);
  }

  .page {
    padding-bottom: 40px;
  }

  .page__h1 {
    font-size: 40px;
  }

  .page__content {
    padding-bottom: 40px;
  }

  .page__hero {
    padding-bottom: 40px;
  }

  .page__hero .page__h1 {
    margin-bottom: 24px;
  }

  .page__hero-text {
    width: calc(100% - 20px);
  }

  .page__hero-text {
    margin-bottom: 10px;
  }

  .page__hero-text .btn {
    margin-top: 40px;
  }

  .page__hero-descr {
    font-size: 16px;
  }

  .page__hero-img {
    width: calc(100% - 20px);
  }

  .page__hero-img {
    height: 540px;
  }

  .about {
    padding-bottom: 80px;
  }

  .about__h1 {
    display: none;
  }

  .about__content {
    display: block;
  }

  .about__text {
    margin-top: 24px;
  }

  .product {
    padding-bottom: 40px;
  }

  .catalog {
    padding-bottom: 40px;
  }

  .catalog__item {
    width: calc(50% - 20px);
  }

  .ribbon {
    padding: 40px 0;
  }

  .ribbon__content {
    padding: 40px 0;
  }

  .advantage {
    padding: 40px 0;
  }

  .advantage__h1 {
    text-align: center;
  }

  .advantage__list {
    justify-content: center;
  }

  .advantage__item {
    width: calc(100% - 20px);
  }

  .advantage-product {
    margin: 40px 0;
  }

  .ask {
    padding: 40px 0;
  }

  .ask__text {
    width: calc(100% - 20px);
  }

  .ask__img {
    width: calc(100% - 20px);
  }

  .ask__img {
    margin-bottom: 32px;
    order: -1;
  }

  .blog {
    padding-bottom: 40px;
  }

  .blog__box {
    padding-bottom: 16px;
  }

  .single {
    padding-bottom: 40px;
  }

  .single__content {
    display: block;
  }

  .single__pic {
    margin-bottom: 32px;
  }

  .single__text {
    max-width: 100%;
  }

  .single__h1 {
    margin-bottom: 16px;
  }

  .goods {
    padding: 40px 0;
  }

  .goods__header .btn {
    margin-right: 20px;
  }

  .faq {
    padding: 40px 0;
  }

  .faq__body {
    max-width: 100%;
  }

  .exp {
    padding: 40px 0;
  }

  .exp__content {
    flex-direction: column;
    gap: 10px;
  }

  .exp__img {
    width: 100%;
    height: 567px;
    min-height: unset;
  }

  .exp__text {
    order: -1;
    width: 100%;
  }

  .feedback {
    padding: 40px 0;
  }

  .ba {
    padding-top: 0;
    padding-bottom: 90px;
  }

  .ba-slider {
    margin-top: 24px;
  }

  .check {
    padding: 40px 0;
  }

  .check__item {
    width: calc(100% - 20px);
  }

  .check__item {
    padding: 40px;
  }

  .check__item:last-child {
    order: -1;
    margin-bottom: 20px;
  }

  .repeater {
    margin: 40px 0;
  }

  .footer__top {
    padding-top: 48px;
    padding-bottom: 24px;
    text-align: center;
  }

  .footer__logo {
    width: calc(100% - 20px);
  }

  .footer__col {
    width: calc(100% - 20px);
  }

  .footer__bottom {
    padding-top: 24px;
    padding-bottom: 48px;
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: 576px) {
  .logo {
    font-size: 24px;
  }

  .burger {
    font-size: 0;
  }

  .navigation,
  .search-menu {
    width: 100%;
    padding: 15px;
  }

  .navigation {
    left: -100%;
  }

  .search-menu {
    right: -100%;
  }

  .btn {
    padding: 16px 24px;
  }

  .breadcrumbs {
    font-size: 12px;
    padding: 8px 0;
  }

  .card__text {
    padding: 30px 15px 20px 20px;
  }

  .article__img {
    height: 225px;
    border-radius: 20px;
  }

  .article__text {
    padding: 20px;
  }

  .article__title {
    font-size: 16px;
  }

  .article__excerpt {
    font-size: 14px;
  }

  .pagination {
    margin-top: 0;
  }

  .user__menu a + a {
    margin-left: 4px;
  }

  .contacts {
    padding: 30px 0;
  }

  .contacts__info {
    margin-bottom: 24px;
  }

  .contacts__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .contacts__head {
    font-size: 16px;
  }

  .contacts__descr {
    font-size: 14px;
  }

  .page {
    padding-bottom: 30px;
  }

  .page__h1 {
    margin-bottom: 16px;
    font-size: 28px;
  }

  .page__content {
    padding-bottom: 30px;
  }

  .page__hero {
    padding-bottom: 30px;
  }

  .page__hero .page__h1 {
    margin-bottom: 16px;
  }

  .page__hero-text {
    padding: 20px;
    border-radius: 20px;
  }

  .page__hero-text .btn {
    margin-top: 24px;
  }

  .page__hero-descr {
    font-size: 14px;
  }

  .page__hero-img {
    height: 258px;
    border-radius: 20px;
  }

  .about {
    padding-bottom: 30px;
  }

  .about__img {
    height: 430px;
    border-radius: 20px;
  }

  .about__text {
    margin-top: 16px;
  }

  .about__text P {
    font-size: 14px;
  }

  .about__text p + p {
    margin-top: 2px;
  }

  .about .btn {
    margin-top: 24px;
  }

  .product {
    padding-bottom: 30px;
  }

  .product__slider {
    margin-bottom: 24px;
  }

  .product__slide {
    height: 297px;
    border-radius: 20px;
  }

  .product__badge {
    top: 0;
    -webkit-transform: none;
            transform: none;
  }

  .product__h1 {
    width: 70%;
  }

  .product__price {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .product__btns {
    margin-bottom: 16px;
  }

  .product__descr-name {
    font-size: 16px;
  }

  .catalog {
    padding-bottom: 30px;
  }

  .catalog__filters {
    margin-bottom: 16px;
  }

  .catalog__select:last-child {
    margin-left: unset;
    margin-right: auto;
  }

  .catalog__item {
    width: calc(100% - 20px);
  }

  .catalog__item {
    margin-bottom: 16px;
  }

  .ribbon {
    padding: 30px 0;
  }

  .ribbon__content {
    padding: 30px 0;
  }

  .ribbon__h1 {
    margin-bottom: 16px;
  }

  .ribbon__item::before {
    font-size: 16px;
  }

  .ribbon__title {
    font-size: 16px;
  }

  .ribbon__descr {
    font-size: 14px;
  }

  .advantage {
    padding: 30px 0;
  }

  .advantage__h1 {
    margin-bottom: 24px;
  }

  .advantage__title {
    font-size: 16px;
  }

  .advantage__descr {
    font-size: 14px;
  }

  .advantage br {
    display: none;
  }

  .advantage-re .advantage__item {
    margin-bottom: 10px;
  }

  .advantage-product {
    margin: 0;
  }

  .ask {
    padding: 30px 0;
  }

  .ask__content {
    padding: 20px 15px;
  }

  .ask__text {
    font-size: 14px;
  }

  .ask .btn {
    margin-top: 24px;
  }

  .ask__img {
    margin-bottom: 24px;
    height: 151px;
    border-radius: 15px;
  }

  .p404 {
    padding: 88px 0;
  }

  .p404__text {
    font-size: 14px;
  }

  .p404 .btn {
    margin-top: 16px;
  }

  .blog {
    padding-bottom: 30px;
  }

  .blog__box {
    padding-bottom: 8px;
    font-size: 14px;
  }

  .blog__item {
    width: calc(100% - 20px);
  }

  .single {
    padding-bottom: 30px;
  }

  .single__pic {
    margin-bottom: 24px;
    height: 300px;
    border-radius: 20px;
  }

  .goods {
    padding: 30px 0;
    padding-bottom: 96px;
  }

  .goods__header {
    margin-bottom: 16px;
  }

  .goods__header .btn {
    margin: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 70%;
  }

  .goods__h1 {
    margin-bottom: 0;
    margin-right: auto;
  }

  .faq {
    padding: 30px 0;
  }

  .faq__h1 {
    margin-bottom: 24px;
  }

  .faq__header {
    font-size: 20px;
  }

  .exp {
    padding: 30px 0;
  }

  .exp__content {
    gap: 0;
    border-radius: 20px;
  }

  .exp__img {
    height: 271px;
    border-radius: 20px;
  }

  .exp__text {
    padding: 20px;
  }

  .exp__text .btn {
    margin-top: 24px;
  }

  .exp__descr {
    font-size: 14px;
  }

  .feedback {
    padding: 30px 0;
  }

  .feedback__name {
    font-size: 20px;
  }

  .feedback__date {
    font-size: 12px;
  }

  .feedback-sl .goods__header {
    margin-bottom: 16px;
  }

  .ba__title {
    font-size: 28px;
  }

  .ba__descr {
    font-size: 14px;
  }

  .check {
    padding: 30px 0;
  }

  .check__item {
    padding: 40px 20px;
  }

  .check__item .btn {
    margin-top: 24px;
  }

  .check__img {
    margin-bottom: 16px;
    width: 160px;
    height: 160px;
  }

  .check__descr {
    font-size: 14px;
  }

  .repeater {
    margin: 0;
  }

  .footer__top {
    padding-top: 30px;
  }

  .footer__bottom {
    padding-bottom: 30px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}